.row {
    display: flex;
    
    flex: 1;
    
}

#container {
    width: 600px;
    height: 600px;

    display: flex;
    flex-direction: column;

    
}

.whitepixel, .blackpixel {
    
    display: flex;
    border-style: solid;
    border-width: 2px;
    

    flex: 1;
}

.whitepixel {
    background-color: white;
}

.blackpixel {
    background-color: black;
}